.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 100vh;
}

.header {
  flex: 0 0 100%;
  height: 100px;
}

.content {
  flex: 1 0 100%;
  height: auto;
}

.footer {
  flex: 0 0 100%;
  height: auto;
}
