.todoForm {
    padding-left: 50px;
}

.inputTask {
    border-radius: 15px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.buttonAdd {
    border: none;
    height: 30px;
    width: 75px;
    background-color: rgb(66, 66, 245);
    color: white;
    border-radius: 15px;
}