* {
    box-sizing: border-box;
}

.wrap {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}

.content > input {
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.content > button {
    border: none;
    height: 30px;
    width: 75px;
    background-color: rgb(66, 66, 245);
    color: white;
    border-radius: 15px;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li > button{
    margin-left: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 85px;
}