.dark {
    background-color: grey;
    color: white;
}
.dark button {
    background-color: white;
    color: black;
}
.dark button:hover {
    background-color: rgb(105, 107, 236);
    color: white;
}

.light {
    background-color: white;
    color: white;
}
.light button {
    background-color: rgb(105, 107, 236);
    color: white;
}
.light button:hover {
    background-color: blue;
    color: white;
}
.light input {
    background-color: gray;
    color: white;
}
.light ol {
    background-color: gray;
}
.light p {
    color: black;
}
.light h1 {
    color: black;
}